body {
    font-family: Poppins;
    padding-top: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #ccc;
    width: 100%;
    padding: 5px;
    font-family: Poppins;
    font-weight: 1000;
    border-radius: 0.8rem;
    display: flexbox;
}

#message-container div:nth-child(2n) {
    background-color: #fff;
    font-family: Poppins;
    font-weight: 1000;
    border-radius: 0.8rem;
    display: flexbox;
}

#enviar-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color:black;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    font-family: Poppins;
    border-radius: 0.8rem; 
    border-style: none;
    flex-grow: 1;
}

#enviar-button{
    font-family: Poppins;
    font-weight: 1000;
    border-radius: 0.8rem;
    background-color:#7aaae0;
}

#enviar-button:hover{
    background-color: #0077ff;
}
